<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.stock.fetch.dao.StockMySelectedTypeMapper" >
  <resultMap id="BaseResultMap" type="org.stock.fetch.model.StockMySelectedType" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="type" property="type" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="BaseColumnList">
    id, type, name, create_date, update_date
  </sql>
  <delete id="deleteByType" parameterType="java.lang.Long" >
    delete from stock_my_selected_type
    where type = #{type,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="org.stock.fetch.model.StockMySelectedType" useGeneratedKeys="true" keyProperty="id" >
    insert into stock_my_selected_type (id, type, name, create_date, 
      update_date)
    values (#{id,jdbcType=BIGINT}, #{type,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="org.stock.fetch.model.StockMySelectedType" >
    update stock_my_selected_type
    set type = #{type,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select <include refid="BaseColumnList" />
    from stock_my_selected_type
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select <include refid="BaseColumnList" />
    from stock_my_selected_type order by id asc
  </select>
  <select id="selectByStockId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    SELECT
		b.*
	FROM
		stock_my_selected a,
		stock_my_selected_type b
	WHERE
		a.selected_type = b.type
	AND a.stock_id = #{stockId,jdbcType=BIGINT}
	order by a.id asc
  </select>
</mapper>