<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.stock.fetch.dao.StockDataMapper" >
  <resultMap id="BaseResultMap" type="org.stock.fetch.model.StockData" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="no" property="no" jdbcType="VARCHAR" />
    <result column="company" property="company" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="type_name" property="typeName" jdbcType="VARCHAR" />
    <result column="concepts" property="concepts" jdbcType="VARCHAR" />
    <result column="groups" property="groups" jdbcType="BIGINT" />
    <result column="electronics" property="electronics" jdbcType="BIGINT" />
    <result column="manage_item" property="manageItem" jdbcType="VARCHAR" />
    <result column="company_status" property="companyStatus" jdbcType="VARCHAR" />
    <result column="tx_price" property="txPrice" jdbcType="DECIMAL" />
    <result column="closing" property="closing" jdbcType="DECIMAL" />
    <result column="highest" property="highest" jdbcType="DECIMAL" />
    <result column="lowest" property="lowest" jdbcType="DECIMAL" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    
  </resultMap>
  
  <sql id="BaseColumnList">
    id, no, company, url, type, type_name, concepts, groups, electronics, manage_item, company_status, 
    tx_price, closing, highest, lowest, create_date, update_date
  </sql>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from stock_data
    where id = #{id,jdbcType=BIGINT}
  </delete>
  
  
  <delete id="deleteByNo" parameterType="java.lang.String" >
    delete from stock_data
    where no = #{no,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insert" parameterType="org.stock.fetch.model.StockData" useGeneratedKeys="true" keyProperty="id" >
    insert into stock_data (id, no, company, url, type, type_name, 
      concepts, groups, electronics, 
      manage_item, company_status, tx_price, closing, highest, lowest, create_date, 
      update_date)
    values (#{id,jdbcType=BIGINT}, #{no,jdbcType=VARCHAR}, #{company,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{typeName,jdbcType=VARCHAR}, #{concepts,jdbcType=VARCHAR}, #{groups,jdbcType=VARCHAR}, #{electronics,jdbcType=VARCHAR}, 
      #{manageItem,jdbcType=VARCHAR}, #{companyStatus,jdbcType=VARCHAR}, 
      #{txPrice,jdbcType=DECIMAL}, #{closing,jdbcType=DECIMAL}, #{highest,jdbcType=DECIMAL}, #{lowest,jdbcType=DECIMAL}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  
  <update id="updateByPrimaryKey" parameterType="org.stock.fetch.model.StockData" >
    update stock_data
    set no = #{no,jdbcType=VARCHAR},
      company = #{company,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      type_name = #{typeName,jdbcType=VARCHAR},
      concepts = #{concepts,jdbcType=VARCHAR},
      groups = #{groups,jdbcType=VARCHAR},
      electronics = #{electronics,jdbcType=VARCHAR},
      manage_item = #{manageItem,jdbcType=VARCHAR},
      company_status = #{companyStatus,jdbcType=VARCHAR},
      tx_price = #{txPrice,jdbcType=DECIMAL}, 
      closing = #{closing,jdbcType=DECIMAL}, 
      highest = #{highest,jdbcType=DECIMAL}, 
      lowest = #{lowest,jdbcType=DECIMAL}, 
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select <include refid="BaseColumnList" />
    from stock_data 
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="selectByNo" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select <include refid="BaseColumnList" />
    from stock_data
    where no = #{no,jdbcType=VARCHAR}
  </select>
  
  <select id="search" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select DISTINCT b.*
    from stock_my_data a, stock_data b
    where a.stock_id=b.id and b.no like concat('%',#{value},'%') or b.company like concat('%',#{value},'%')
  </select>
  
  <select id="selectAll" resultMap="BaseResultMap" >
    select <include refid="BaseColumnList" />
    from stock_data limit 100,100
  </select>
</mapper>