[Unit]
Description=Stock Webapp Application
After=network.target

[Service]
Type=simple
User=dev
WorkingDirectory=/works/app/stock-webapp
ExecStart=/works/app/stock-webapp/start.sh 
ExecStop=/works/app/stock-webapp/stop.sh

# ExecReload=/bin/kill -s HUP $MAINPID
KillSignal=SIGQUIT
TimeoutStopSec=20

LimitNOFILE=1048576
LimitNPROC=1048576
LimitCORE=infinity

[Install]
WantedBy=multi-user.target
