<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="includes/commonHead :: header"></head>
<script th:inline="javascript">
	var postId = [[${postId}]];
	var dataGrid = null;
	$(function(){
		parent.DialogUtils.progress('close');
		$("#orgUnitMenu ul").tree({  
	        onClick:function(node){
            	var deptId = node.id;
            	var name =  $('#name').val();
            	$('#dataGrid').datagrid('load',{
            		deptId: deptId,
    				name: name
    			});
	        }
	    });
		dataGrid = $('#dataGrid').datagrid({
			url:"/auth/getUserList",
			fit : true,
			fitColumns : true,
			border : false,
			pagination : true,
			idField : 'id',
			checkOnSelect : true,
			selectOnCheck : true,
			nowrap : false,
			striped : true,
			singleSelect : false,
			columns:[[
				{
		        	field:'id',
		        	width:80,
		        	checkbox : true
			    },
				{
					field : 'loginName',
					title : '登錄名',
					width : 180
				},
				{
					field : 'name',
					title : '姓名',
					width : 180
				}]],
			toolbar:"#toolbar",
			onLoadSuccess :function(data){
				$('#dataGrid').datagrid("uncheckAll");
				var rows =  data.rows;
				$.post("/position/getUserIdsByPostId",{
					postId:postId
				},function(data){
					$.each(rows,function(rowIndex,rowTemp){
						$.each(data,function(index,object){
							if(rowTemp.userId == object){
								$('#dataGrid').datagrid("checkRow",rowIndex);
							}
						});
					});
				});
			}
		});
	});
	function cancelConfigPostOperator(){
		DialogUtils.closeDialogById('configPostOperator');
	}

	function querySubmit(){
		$('#dataGrid').datagrid('load',$('#queryForm').serializeObject());
	}
	function submitConfigPostOperator(){
		var checkedRows = dataGrid.datagrid('getChecked');
		var checkedRowsMapping = {};
		$.each(checkedRows,function(index,rowTemp){
			checkedRowsMapping[rowTemp.userId] = true;
		});
		var checkedOperatorIds = [];
		var unCheckedOperatorIds = [];
		var rows = dataGrid.datagrid('getRows');
		$.each(rows,function(index,rowTemp){
			if(checkedRowsMapping[rowTemp.userId]){
				checkedOperatorIds.push(rowTemp.userId);
			}else{
				unCheckedOperatorIds.push(rowTemp.userId);
			}
		});
		DialogUtils.progress({
	        text : '數據提交中，請等待....'
		});
		console.log(checkedOperatorIds +"----" +unCheckedOperatorIds);
		$.post("/position/configPostUserId",
				{postId:postId,selectedUserId:checkedOperatorIds,unSelectedUserId:unCheckedOperatorIds}, 
				function(data){
			DialogUtils.tip("配置職位人員成功");
			parent.DialogUtils.closeDialogById("configPostOperator");
			DialogUtils.progress('close');
		});
	}
</script>
<body class="easyui-layout">
	<div data-options="region:'west',title:'組織结构'" style="width:200px;">
		<div id="orgUnitMenu">
			<ul id="tt" class="easyui-tree" url="/auth/getTreeDeptList"></ul>
		</div>
	</div>
	<div data-options="region:'center'" style="padding:5px;background:#eee;">
		<div class="easyui-layout" data-options="fit : true,border : false">
			<div data-options="region:'north',title:'查詢條件',border:false" 
				style="height: 85px; overflow: hidden;">
				<form method="post" id="queryForm" name="queryForm" class="form">
				<input id="organizationId" type="hidden" value="" name="organizationId" />
				<!-- query condition -->
				<div>
					<table>
						<tbody>
						<tr>
							<!-- <th class="narrow">登錄名:</th>
							<td><input id="loginName" name="loginName" class="text" type="text" value=''/></td> -->
							<th class="narrow">姓名:</th>
							<td><input id="name" name="name" class="text" type="text" value=''/></td>
						</tr>
						<tr>
							<td colspan="4" class="button operRow">
								<a id="queryBtn"   onclick="querySubmit();return false;"  href="#" class="easyui-linkbutton">查詢</a>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
				</form>
			</div>
			<div data-options="region:'center',border:false">
				<table id="dataGrid"></table>
			</div>
		</div>
		
		<div id="toolbar" style="display: none;">
			<a onclick="dataGrid.datagrid('reload');" href="javascript:void(0);" 
				class="easyui-linkbutton" data-options="plain:true,iconCls:'transmit'">刷新</a>
		</div>
	</div> 
	
	<div data-options="region:'south',split:false" style="height:31px">
		<div class="easyui-layout" data-options="fit:true,border:false">
			<div class="datagrid-toolbar" style="text-align:right;padding-right: 59px">
				<a onclick="submitConfigPostOperator();return false;" href="javascript:void(0);" class="easyui-linkbutton">提交</a>
				&nbsp;
				<a onclick="cancelConfigPostOperator();return false;" href="javascript:void(0);" class="easyui-linkbutton">退出</a>
			</div>
		</div>
	</div>
</body>
</html>