<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="includes/commonHead :: header"></head>
<script th:inline="javascript">
	var tabs = null;
	var $currentAuthTreeEl = null;
	var postId = [[${postId}]];
	$(function(){
		parent.DialogUtils.progress('close');
		//初始化tabs
		tabs = $("#authTabView").tabs({
			fit:true,
			tabPosition:'right',
			onSelect: function(title,index){
				loadCurrentPannel();
			}
		});
		//加载需要加载的tab内容
		loadCurrentPannel();
		function loadCurrentPannel(){
			var $tabPannel = $("#authTabView").tabs('getSelected');
			$currentAuthTreeEl = $tabPannel.find("ul");
			var isLoad = ($currentAuthTreeEl.attr('isLoad') == 'true');
			var source = $currentAuthTreeEl.attr('source');
			$.post('/position/getAllAuthorityListBySource',{source:source},function(data){
				console.log(data);
				if(!isLoad){
					initAuthTree($currentAuthTreeEl,source,data);
					$currentAuthTreeEl.attr('isLoad','true');
				}
			})
			
		}
	})
	function initAuthTree($currentAuthTreeEl,source,authorityList){
		currentTree = $currentAuthTreeEl.tree({
			idField : 'idStr',
			parentField : 'parentIdStr',
			textField : 'name',
			iconField : function(item){
				return 'database_key';	
			},
			checkbox : true,
			lines : true,
			data: authorityList,
			//不联动选中，允许仅含有顶级權限的情况
			cascadeCheck : true,
			onLoadSuccess : function(node, data){
				$.post("/position/getAllAuthorityListBySourceAndPostId",{
					postId:postId
				},function(data){
					$.each(data,function(index,item){
						var findNode = currentTree.tree('find', item);
						console.log(findNode);
						if(findNode){
							currentTree.tree("check",findNode.target);
						}
					});
				})
			}
		})
	}
	function submit(){
		DialogUtils.progress({
	        text : '數據提交中，請等待....'
		});
		var $treeEL = $currentAuthTreeEl;
		var checked = $treeEL.tree('getChecked');
		var authItemIds = [];
		if(checked.length > 0){
			$.each(checked,function(index,item){
				authItemIds[index] = item.idStr;
			});
		}
		$.post("/auth/savePost2AuthItemList",{
				postId: postId,
				authItemIds: authItemIds,
			},
			function(data){
				if(data.result){
					parent.DialogUtils.tip("配置職位權限成功");
					parent.DialogUtils.closeDialogById("configPostAuth");
				}
				DialogUtils.progress('close');
		    }
		)
	}
	function redo() {
		var node = $currentAuthTreeEl.tree('getSelected');
		if (node) {
			$currentAuthTreeEl.tree('expandAll', node.id);
		} else {
			$currentAuthTreeEl.tree('expandAll');
		}
	}
	function undo() {
		var node = $currentAuthTreeEl.tree('getSelected');
		if (node) {
			$currentAuthTreeEl.tree('collapseAll', node.id);
		} else {
			$currentAuthTreeEl.tree('collapseAll');
		}
	}
</script>
<body class="body">
	<!-- authTreeTabs -->
	<div id="authTabView" class="easyui-tabs" data-options="fit:true">
			<div  title="貸前系統"  data-options="selected:true"
				style="overflow-y:auto;overflow-x:hidden;">
				<div class="datagrid-toolbar">
			        <a onclick="redo();" href="javascript:void(0);" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-resultset-next'">展開</a>
			        <a onclick="undo();" href="javascript:void(0);" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-resultset-previous'">折叠</a>
			    </div>
				<form  method="post">
					<input type="hidden" name="source" value="LMS"/>
					<input type="hidden" name="postId" th:value="${postId}"/>
					<ul
						style="margin-bottom: 40px;padding-top:2px;padding-left: 5px" source="LOS" isLoad="false"></ul>
					<div class="dialog-button" style="position:absolute;height:38px;bottom:0px;top:auto;width:100%;box-sizing:border-box">
					<a onclick="submit();" href="#" class="easyui-linkbutton">確認</a>&nbsp;&nbsp;&nbsp;</div>
				</form>
		    </div>
		    <div  title="貸后系統"  data-options="selected:true" style="overflow-y:auto;overflow-x:hidden;">
		    	<div class="datagrid-toolbar">
			        <a onclick="redo();" href="javascript:void(0);" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-resultset-next'">展開</a>
			        <a onclick="undo();" href="javascript:void(0);" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-resultset-previous'">折叠</a>
			    </div>
				<form  method="post">
					<input type="hidden" name="source" value="LMS"/>
					<input type="hidden" name="postId" th:value="${postId}"/>
					<ul style="margin-bottom: 40px;padding-top:2px;padding-left: 5px" source="LMS" isLoad="false"></ul>
					<div class="dialog-button" style="position:absolute;height:38px;bottom:0px;top:auto;width:100%;box-sizing:border-box">
						<a onclick="submit();" href="#" class="easyui-linkbutton">確認</a>&nbsp;&nbsp;&nbsp;
					</div>
				</form>	
		    </div>
		    <div  title="ADMIN_TOOLS"  data-options="selected:true" style="overflow-y:auto;overflow-x:hidden;">
		    	<div class="datagrid-toolbar">
			        <a onclick="redo();" href="javascript:void(0);" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-resultset-next'">展開</a>
			        <a onclick="undo();" href="javascript:void(0);" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-resultset-previous'">折叠</a>
			    </div>
				<form  method="post">
					<input type="hidden" name="source" value="LMS"/>
					<input type="hidden" name="postId" th:value="${postId}"/>
					<ul style="margin-bottom: 40px;padding-top:2px;padding-left: 5px" source="ADMIN_TOOLS" isLoad="false"></ul>
					<div class="dialog-button" style="position:absolute;height:38px;bottom:0px;top:auto;width:100%;box-sizing:border-box">
						<a onclick="submit();" href="#" class="easyui-linkbutton">確認</a>&nbsp;&nbsp;&nbsp;
					</div>
				</form>	
		    </div>
	</div>
</body>
</html>