<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.stock.fetch.dao.StockDailyTransactionsHistoryMapper" >
  <resultMap id="BaseResultMap" type="org.stock.fetch.model.StockDailyTransactionsHistory" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="file_md5" property="fileMd5" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <sql id="BaseColumnList">
    id, file_md5, create_date, update_date
  </sql>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from stock_daily_transactions_history
    where id = #{id,jdbcType=BIGINT}
  </delete>
  
  <insert id="insert" parameterType="org.stock.fetch.model.StockDailyTransactionsHistory" useGeneratedKeys="true" keyProperty="id" >
    insert into stock_daily_transactions_history (id, file_md5, create_date, update_date
      )
    values (#{id,jdbcType=BIGINT}, #{fileMd5,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}
      )
  </insert>
  
  <update id="updateByPrimaryKey" parameterType="org.stock.fetch.model.StockDailyTransactionsHistory" >
    update stock_daily_transactions_history
    set file_md5 = #{fileMd5,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select <include refid="BaseColumnList" />
    from stock_daily_transactions_history
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="selectByMd5" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select <include refid="BaseColumnList" />
    from stock_daily_transactions_history
    where file_md5 = #{fileMd5,jdbcType=VARCHAR}
  </select>
  
  <select id="selectAll" resultMap="BaseResultMap" >
    select <include refid="BaseColumnList" />
    from stock_daily_transactions_history
  </select>
  
</mapper>