<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.stock.fetch.dao.StockNewsExcludeKeyMapper" >
  <resultMap id="BaseResultMap" type="org.stock.fetch.model.StockNewsExcludeKey" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="key" property="key" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <sql id="BaseColumnList">
    id, `key`, status, create_date, update_date
  </sql>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from stock_news_exclude_key
    where id = #{id,jdbcType=BIGINT}
  </delete>
  
  <insert id="insert" parameterType="org.stock.fetch.model.StockNewsExcludeKey" useGeneratedKeys="true" keyProperty="id" >
    insert into stock_news_exclude_key (id, key, status, create_date, 
      update_date)
    values (#{id,jdbcType=BIGINT}, #{key,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  
  <update id="updateByPrimaryKey" parameterType="org.stock.fetch.model.StockNewsExcludeKey" >
    update stock_news_exclude_key
    set key = #{key,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select <include refid="BaseColumnList" />
    from stock_news_exclude_key
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="selectAll" resultMap="BaseResultMap" parameterType="java.lang.Boolean" >
    select <include refid="BaseColumnList" />
    from stock_news_exclude_key 
    where status = #{status,jdbcType=TINYINT}
  </select>
  
</mapper>