<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>hello</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" th:href="@{/js/themes/default/easyui.css}" />
<link rel="stylesheet" th:href="@{/js/themes/icon.css}" />
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/jquery.easyui.min.js}"></script>
<script th:src="@{/js/commons.js}"></script>
<script th:src="@{/js/mainframe.js}"></script>
<script th:inline="javascript">
//alert("aa2");
/*<![CDATA[*/
var seconds = 3;

 $(document).ready(function(){
	var secondsSpan = $("#seconds");
	secondsSpan.text(seconds);
	//alert("vv");
	var intervalHandler = null;
	function autoReturnLoginPath(){
		if(seconds <= 0){
			if(intervalHandler != null){
				clearInterval(intervalHandler);
			}
			$.triggerge('returnLoginPage');
		}else{
			seconds--;
			secondsSpan.text(seconds);
		}
	}
	intervalHandler = setInterval(autoReturnLoginPath,1000);
}); 
/*]]>*/

</script>  
<style type="text/css"></style>
</head>
<body>
<div class="easyui-layout" data-options="fit:true,border:false">
<center> 
<!-- 	<img src="${pageContext.request.contextPath}/style/images/blue_face/bluefaces_35.png"/> -->
	<div id="errorMessage">登录超时，系统将在[<span id="seconds"></span>]秒后自动跳转到登录页面。</div>
</center>
</div>
</body>
</html>
