<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Spring Boot and Thymeleaf - Thymeleaf Layout Dialect</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}" /> -->
<!-- <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap-theme.min.css}" /> -->
<!-- <script th:src="@{/webjars/bootstrap/3.2.0/js/bootstrap.min.js}" /> -->
<!-- <script th:src="@{webjars/jquery/2.1.1/jquery.min.js}" /> -->

<!-- <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"></link> -->
<!-- <link type="text/css" rel="stylesheet" href="/css/bootstrap-vue.css"></link> -->

<!-- <script type="text/javascript" src="/js/polyfill.min.js"></script> -->
<!-- <script type="text/javascript" src="/js/bootstrap-vue.js"></script> -->

  <script src="https://unpkg.com/vue/dist/vue.js" th:src="@{/webjars/vue/2.5.13/vue.js}"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js" th:src="@{/webjars/axios/0.17.1/dist/axios.js}"></script>
  <script src="https://cdn.jsdelivr.net/vue.resource/1.3.4/vue-resource.min.js" th:src="@{/webjars/vue-resource/1.3.4/dist/vue-resource.js}"></script>


<!-- Required Stylesheets -->
<!-- <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"/> -->
<!-- <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/> -->
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
  <link rel="stylesheet" th:href="@{/css/bootstrap-vue.css}" />

<!-- Required scripts -->
<!-- <script src="https://unpkg.com/vue"></script> -->
<!-- <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script> -->
<!-- <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script> -->
<script th:src="@{/js/polyfill.min.js}"></script>
<script th:src="@{/js/bootstrap-vue.js}"></script>
<link rel="stylesheet" type="text/css" media="screen"
	href="/css/common.css" th:href="@{/css/common.css}" />
</head>
<body>
<!-- 	<header th:replace="fragments/header :: header(tab='news')"> </header> -->
<!-- 	<section id="content" layout:fragment="content"> -->
<!-- 		<p th:text="${'Hello ' + name + '!'}"></p> -->
<!-- 		<p>This is default main content with default layout</p> -->
<!-- 	</section> -->
<!-- 	<footer th:replace="fragments/footer :: footer"> -->
<!-- 		<p>This is default footer area for default layout</p> -->
<!-- 	</footer> -->

	<div th:include="fragments/header :: header(tab='news')">
		<p>This is default header area for default layout</p>
	</div>
	
	<div layout:fragment="content"></div>
	
	<div th:include="fragments/footer :: footer">
		<p>This is default footer area for default layout</p>
	</div>

</body>
</html>