<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="includes/commonHead :: header"></head>
<body>

<div id="app-6">
    <p>{{ message }}</p>
    <input v-model="message">
</div>

<script th:inline="javascript">
    var username = /*[[${name}]]*/ 'No Body';
    var app6 = new Vue({
        el: '#app-6',
        data: {
            message: 'Hello ' + username + ' !',
            apiUrl: '/time'
        },
        mounted: function () {
                // 只是定時器

                setInterval(this.gettime, 1000);
            //this.cycle();

        },
        methods: {
            // 只是定時器

            cycle: function () {
                this.gettime();
                //setTimeout(this.cycle, 1000);

            },
            gettime: function () {
                // use axios

                var self = this;
                axios.get(this.apiUrl)
                    .then(function (response) {
                        self.message = response.data.name + ', Time is ' + response.data.time;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });

                // use vue-resource
//                this.$http.get(this.apiUrl, {}, {
//                    headers: {}
//                }).then(function (response) {
//                    // 這裡是處理正確的回調
//                    this.message = response.data.name + ', Time is ' + response.data.time
//                    // this.articles = response.data["subjects"] 也可以
//                }, function (response) {
//                    // 這裡是處理錯誤的回調
//                    console.log(response)
//                });

            }
        }
    })
</script>

</body>
</html>