<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="includes/commonHead :: header"></head>
<style>
	body{margin:0;}
	.tree-node{color:#555555; display:block;padding:5px;padding-left:25px;position:relative;}
	.tree > li{border-bottom:1px solid #eaeaea;padding:5px 0}
	.tree-title{font-size:12px!important;}
	.tree-icon,.tree-file{display:none;}
	.tree-node-selected{background:none;color:#0088CC;font-weight:bold}
	.tree-node-hover{background:none;color:#0088CC;}
	.tree-expanded{position:absolute;left:6px;}
	.tree-collapsed{position:absolute;left:6px;}
	.tree-indent{width:7px;}
</style>
<body>
	<!--  
	<ul>
		<li><a href="/menu1">菜单一</a></li>
		<li><a href="/menu2">菜单二</a></li>
		<li><a href="/menu3">菜单三</a></li>
	</ul>
	-->
	<div id="tt"></div>
	<script th:inline="javascript">
		/* $(document).ready(function(){
			$('#tt').tree({
				url: '/getMenuLosJson',
				loadFilter: function(rows){
					return rows;
				},
				onClick:function(node){
					$.triggerge('menu_click',{href:node.url,title:node.target.innerText})
                }  
			});
		}) */
		var _contextPath = "";
		var _queryMenuUrl = "/getMenuLosJson"; 
		$(document).ready(function(){
 			$('#tt').tree({
				url: '/getMenuLosJson',
				loadFilter: function(rows){
					return rows;
				},
				onClick:function(node){
					if(node.url!=null){
						$.triggerge('menu_click',{href:node.url,title:node.target.innerText})
					}
                }  
			});
		})
	</script>

</body>
</html>